
/* 
    Created on : 14.11.2013, 22:20:31
    Author     : web-solutions.sk
*/
/*
***main helpdesk styles
*/
body{
    background: #e6e3e3;
    min-width: 900px;
    overflow: hidden;
}

.main-box1{
    min-width: 900px;
}
body, html,p,a,li{
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;

}
/*header and navigation*/
/*overriding styles*/
.navbar-inverse{
    background: #057630;
}
.navbar-inverse .navbar-nav > li > a {
    color: white;
}
.nav{
    margin-left: 0.5%;
}
.nav li, .nav li a{
    float: left;display: inline;
    text-align: center;
    width: 90px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}
.nav li:hover, .nav li a:hover{
    background: #e6e3e3;
    color: #057630 !important;
}
.user_details{
    width: 200px;
    font-size: 14px;
    padding: 5px;
    float: right;
    margin-right: 40px;
    margin-top: 0px;
    color: white;
    position: relative;
}
.user_details li{
    float: left;
    display: inline-block;
    text-decoration: none;
}
.user_details a img{
    width: 20px;
}
.user_details li .dropdown-menu{
    float: right;
    right: 0;
    width: 200px;
}

/*common styles*/
.left-nav{
    background: #e6e3e3;
}
.box1, .box2{
    background: #e6e3e3;
    height: 600px;
    overflow-y: scroll;
}
/*box styles*/
.main-box{
    width: 85%;
    float: left;
}
.main-box2{
    margin-top: 36px;
}

.main-body{
    width: 100%;
    background: white;
}
.box1{
    width: 49%;
    margin: 0 ;
    border-left: 4px solid white;
    border-right: 2px solid white;

    float: left;
    text-align: center;
}
.box1 div{
    text-align: left;
    margin: 1% 0;
}
.main_actions, .box2 p{
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.main_actions a, .box2 p a{
    color: #777;
    text-transform: uppercase;
    padding: 10px;
    margin: 0;
    background: none;
    border: none;
    font-weight: bold;
}
.main_actions a:hover, .box2 p a:hover{
    text-decoration: none;
    color:#057630;
}
.box2{
    width: 51%;
    margin: 0;
    padding: 0;
    float: right;
    border-left: 2px solid white;
}
.box2 p{
    padding: 9px 5px;
    margin: 0;
}
.status_holder{
    width: 100%;
    margin: 0;
    padding: 0;
    /*border: 1px solid #ccc;*/
}
.status_holder p{
    border: none;
    /*border-top: 1px solid #ccc;*/
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding: 0;
    padding: 6px 5px;
}
.status_holder p:before,
.status_holder p:after {
    display: table;
    content: " ";
}

.status_holder p:after {
    clear: both;
}
.status_holder p span{
    margin: 0;
    padding: 0;
    border: none;
}
.s_edit{
    float: right;
    width: 10%;
    display: inline-block;
    text-align: right;
}
.s_edit input{
    padding: 0;
    margin: 0;
}
.s_value{
    float: left;
    width: 60%;
}
.s_type{
    float: left;
    width: 30%;
    font-weight: bold;
}
.box2 li a{
    color: #777;
    text-transform: uppercase;
    padding: 10px;
    margin: 0;
    background: none;
    border: none;


}
.box2 .ticket_title{
    margin-top: 10px;
}
.nav-tabs{
    border-bottom: 5px solid #FF0D8;//#F5F5F5;
    margin-top: 5px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background: none;
    border: none;
    font-weight: bold;
    color: black;//#468847;
    border-bottom: none;
    background: #DFF0D8;//#F5F5F5;
    text-align: center;
    padding: 0 !important;
    margin: 0 !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    
}
.tab-content{
    background: #DFF0D8 !important;
}
.box2 li a:hover,.box2 li a:active, .box2 li a:focus{
    background: none;
    border: none;
}
.editable_statuses, .noneditable_statuses{
    width: 50%;
    padding: 0;
    margin: 0;

}
.editable_statuses{
    float: left;
    border-right: 1px solid #ccc;

}
.noneditable_statuses{
    float: right;
}
/*left navigation styles*/
.left-nav{
    width: 15%;
    margin: 0;
    padding-top: 50px;
    min-height: 800px;
    float: left;
}
.nav-vertical{
    text-decoration: none;
    list-style: none;
    color:rgb(7,7,7);
    margin: 0;
    padding: 0;
    margin-top: 20px;
    line-height: 1;
}
.nav-vertical li{

    line-height: 1;
    margin: 5px 0;
    margin-top: 10px;
    padding: 0;
    text-transform: uppercase;

}
.nav-vertical li a{
    color:rgb(7,7,7);
    padding-left: 25px;
}
.nav-vertical li a:hover{
    text-decoration: none;

}
.nav-vertical li ul{
    width: 100%;
    list-style: none;
    text-align: left;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;

    color:rgb(7,7,7);
}
.nav-vertical li ul li{
    margin: 0;
    padding: 0px 0;
    width: 100%;
    position: relative;
    height: 100%;
    display: block;
    padding-left: 10px;


}
.active_link{
    background-color: #DFF0D8;//#F5F5F5;
    border-color: #D6E9C6;
    color: black;
}
.active_link a{
    color: #468847 !important;
}
.settings_body{
    position: absolute;
    width: 150px;
    background: white;
    border: 1px solid #057630;
    left: 170px;
    top: 0px;
    color: #ccc;
    margin: 0;
    padding: 0;
    display: none;
}
.nav-vertical li ul li div a{
    width: 100%;
    margin: 0;
    padding: 5px;
    padding-left: 10px;
    color: black;
    display: block;


}
.nav-vertical li ul li div a:hover{
    text-decoration: none;
    background: #ccc;
    color: white;
}
.nav-vertical li ul li a{
    color:rgb(7,7,7);
    text-transform: none;
    line-height: 2;
    width: 78%;
    overflow: hidden;
    text-align: left;

}
.settings{
    display: inline-block;
    margin-right: 5px;  
    position: absolute;
    line-height: 2;
    width: 20%;
    text-align: right;
    right: 0;
}

.nav-vertical li ul li a:hover{
    text-decoration: underline;
}
.opened{
    background: url(../images/up.png) no-repeat left 10px top;

}
.closed{
    background: url(../images/down.png) no-repeat left 10px top;

}
.closed ul{
    display: none;
}
/*quicktask*/
.quicktask{
    width: 99%;
    margin: 0.3% 0.5%;
    margin-top: 5px;
    height: 30px;
    border: none;
}
.search{
    background: none;
    border: none;
    width: 84.5%;
    float: left;
    margin: 0.3% 0.5%;
    margin-top: 5px;
    padding-left: 10px;
    height: 30px;
}
.glyphicon-search{
    height: 30px;
    padding: 10px;
    text-align: center;
}
.ofset15{
    width: 15%;
    height: 30px;
    float: left;
}
.notsupported{
    position: fixed;
    width: 100%;
    height: 1000px;
    background: black;
    opacity:0.6;
    filter:alpha(opacity=60); /* For IE8 and earlier */
    z-index: 999999;
    font-size: 100px;
    text-align: justify;
    color: red;
}
.hasPlaceholder {
    color: #777;
}

.full{
    float: left;
    width: 99%;
    padding: 0;
    margin: 0;
    border: solid 1px #ccc;
}
/*//table designs*/
.box-table{
    width: 100%;
    position: relative;
}
.box-table thead{
    background: #777;
}
.box-table th{
    padding: 5px;
}
.block_header{
    height: 40px;
    width: 100%;
    padding: 10px;
    background: #777;
    color:white;

}

.fileUpload{
    height: 40px;
    width: 100%;
    padding: 10px;
    background: #777;
    color:white;

}
.fileUpload input{
    width: 30%;
    float: right;
    display: inline-block;
    margin: 0 20px;
}
.fileUpload span{
    float: left;
    display: inline-block;
    width: 20%;
}
.selected_row, .selected_row td, .selected_row a, .selected{
    background-color: #DFF0D8;//#F5F5F5;
    border-color: #D6E9C6;
    color: black;//#468847 !important;
}
.selected a{
    color: #468847 !important;
}
.comentholder{
    width: 100%;
    background: #DFF0D8;//whitesmoke;
}

.comentholder textarea{
    width: 100%;
    height: 100px;
}
.comentholder ul{
    width: 100%;
    padding: 0;
    margin: 0;
}
.comentholder ul li{
    display: inline-block;
    float: left;
    list-style: none;
    margin: 0 10px;
    padding: 0;
    width: 20%;
}

.comentholder ul li input[type='submit'], .comentholder ul li select, .comentholder ul li a{
    background: none;
    border: none;
    color: #777;
    padding: 5px;
    text-transform: uppercase;
}
.comentholder ul li a{

    display: inline-block;
}
.comentholder ul li input[type='submit']:hover{
    color: #057630;
}
.block_header .user{
    padding-left: 20px;
    float: left;
}
.block_header .date{
    padding-right: 20px;
    float: right;
}
.coments{

}
.coment{
    width: 100%;
    margin: 0;
    padding: 10px;
    text-align: justify;
    background: #DFF0D8;

}
.coment p{
    padding: 0;
    margin: 0;
    border: none;
}
.coment_actions{
    margin-top: 10px;
    border-top: 1px solid #ccc;
    height: 40px;
}
.coment_actions hr{
    margin: 10px 0;
}
.coment_actions a{
    display: inline-block;
    padding: 5px;
    color: #777;
    text-transform: uppercase;
}
.coment_actions a:hover{
    color: #057630;
    text-decoration: none;
}
.description{
    padding: 10px;
}
/*modal*/
.modal-header{
    background: #057630;
    color: white;
    height: 40px;
    margin: 0;
    padding: 8px;
}
.btn-success{
    background: #057630;
    color: white;
}
.modal-footer{
    border: none;
    height: 60px;
}
.hiddengroup{
    display:none;
}

/*fullpage*/
.fullpage{
    width: 100%;
    margin: 0;
    padding: 20px;
    border-left: 1px solid white;
    min-height: 600px;
    background: #e6e3e3;
}
/*custom*/
.mainwheel{
    margin-left: 10px;
}
.table > tbody > tr > td{
    text-align: left;
}
.glyphicon-wheel{
    background: url(../images/wheel2.png) no-repeat top; 
    display: block;
    width: 25px;
    height: 25px;
    margin: 0;
    padding: 0;
    top:5px;

}
/*dropdown menu*/
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #ccc;
    color: #FFFFFF;
}
.dropdown-menu li{
    width: 100% !important;
    text-align: left;
    padding: 0;
    margin: 0;
    padding-left: 10px;
}
.dropdown-menu li a{
    width: 100%;
    text-align: left;
    padding: 5px;
    margin: 0;
}
/*mixed styles*/
a:focus{
    border: none !important;
}
:focus{
    outline:0 !important; /*removes the dotted border*/
}

/*pannel styles*/
.panel-actions{
    float: right;
    margin: 0;
}
.panel-actions a{
    width: 90%;
    color: #468847 !important;
    font-weight: bold;
}
.panel-actions a:hover,.panel-actions a:active,.panel-actions a:focus{
    text-decoration: none;
    color: #057630;
}
.panel-actions li{
    float: left;
    display: inline-block;
    text-decoration: none;
    padding: 5px;
}
.breadcrumb a{
    color: #468847 !important; 
}

/*form styles*/
form{
    //background: whitesmoke;
    background: #DFF0D8;
    padding: 15px 10px;
    margin: 10px 0;
    border-radius: 4px;
    color: #777;
}
.comentholder form{
    padding-bottom: 30px !important;
    padding-top: 30px !important;
}
.tab-pane .active{
    background: whitesmoke;
}

/*flash spravy*/
.alert{
    width: 60%;
    margin: 0 auto;
    border-left: 4px white solid;
    position: fixed;
    top:40px;
    left: 300px;

}
.topnav li a{
padding: 7px 0;

}
body, html{
    overflow: hidden;
}