/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15.11.2013, 0:29:55
    Author     : web-solutions.sk
*/

/*quicktask*/
.quicktask{
    margin-top: 5px;
}
.main-box1{
    margin: 0;
    padding: 0;
}
.navbar-nav{
    margin: 0;
}
.nav{
    padding: 0;

}
.nav li{
    margin: 0;
    height: 34px;
    padding-top: 4px;
}
.ofset15{
    width: 16%;
}

