/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24.11.2013, 15:14:21
    Author     : web-solutions
*/

.login-container{
    width: 80%;
    margin: 10px auto;
    position: relative;
    padding: 50px;
    background: white;
    border: 1px solid #D6E9C6;
    border-radius: 2px 2px 2px 2px; box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
    color: #777;
    font-family: 'Open Sans', sans-serif;
    overflow-y: auto;
}
.login-container h5, .login-container input, .login-container label, .login-container textArea{
    width: 100%;
    margin: 5px 0;
}
.login-container textArea{
    height: 300px;
}
.login-footer{
    padding-top: 50px;
    text-align: center;
}