/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18.11.2013, 11:00:50
    Author     : web-solutions.sk
*/

/* Large desktop */
@media (min-width: 1921px) {
    .main-box{
        width: 90%;
    }
    .left-nav{
        width: 10%;
    }
    .ofset15{
        width: 10%;

    }
    .nav{
        margin-left: 0.2%;
    }
    .settings_body{
        left:250px;
    }
}
@media (min-width: 1367px) and (max-width: 1920px){
    .main-box{
        width: 90%;
    }
    .left-nav{
        width: 10%;
    }
    .ofset15{
        width: 10%;

    }
    .nav{
        margin-left: 0.2%;
    }
    .settings_body{
        left:200px;
    }

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1366px) {
    body{
        min-width: 1000px;
    }    
    .settings_body{
        left:210px;
    }
    .nav li, .nav li a {
        width: 70px;
        font-size: 10px;
    }
    .comentholder ul li{
        display: block;
        width: 100%;
        text-align: left;
        padding: 0;
        margin: 0;
    }
    .comentholder ul li input[type="submit"], .comentholder ul li select, .comentholder ul li a{
        padding: 3px 0;
    }
    .comentholder ul li input[type="submit"]{
        background: #cccccc;
        color: white;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding: 3px;
        border: 1px solid green;
        margin: 1px 0;
        width: 100%;
    }
    .comentholder ul li input[type="submit"]:hover{
        background: #DFF0D8;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .visible-desktop, .settings{
        display: none;
    }
    .nav-vertical li ul li{
        border-top: 1px solid #777;

    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .visible-desktop,.settings{
        display: none;
    }
    .nav-vertical li ul li{
        border-top: 1px solid #777;

    }
}